.about__me__introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgb(219, 211, 211,0.2);
    padding:80px;
    border-radius: 8px;
    gap: 10px;
    text-align: center;
}
.about_me_list{
    padding: 4px;
    line-height: 1.5;
    font-kerning: auto;
}
.about_me_list>li{
    color: rgb(219, 211, 211);
}
.about_me_list>h3{
    margin: 10px 0 10px 0;
    text-decoration: underline;
}
.about__me__introduction>p{
    font-size: large;
}
.about__me__introduction>h1{
    font-size: 30px;
}
.information_about_me{
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 60px auto;
   
}
.information_about_me>*{
    border: 1px solid rgb(219, 211, 211,0.2);
    padding: 10px;
    flex:0.5;
}
.information_about_me>div{
    width: 100%;
}
.information_about_me>div>img{
    border-radius: 10px;
}
.information_about_me{
    line-height: 2;
    kerning: 10ch;
}
.information_about_me>div>p{
    width: 80%;
}

/* download cv button */
#download__cv{
    padding:10px 20px;
    border-radius: 5px;
    border:none;
    outline:none;
    color:rgb(0,0,0);
    cursor:pointer;
}
#download__cv>*{
    color:rgb(0,0,0) !important;
    font-weight:bold;
}

/* books section */
#books{
    margin:0 auto;
    border: 1px solid rgb(219, 211, 211,0.2);
    padding: 10px;
}
.books__container{
    display: flex;
    flex-wrap:wrap;
    margin: 20px 0 20px 0;
    border: 1px solid rgb(219, 211, 211,0.3);
    width: 100%;
}
.book{
    gap:10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(219, 211, 211,0.2);
    text-align: center;
    margin-top: 20px;
    padding:10px;
    font-size: large;
    font-weight: 700;
}
.book>img{
    height: 627px;
    width:477px;
}
#youDontKnowJs{
    object-fit: cover;
}
@media screen and (max-width:678px){
    .readers>h2,.newsletter__readers{
        color: white;
    }
    #project__container{
        flex-direction: column;
        width:100%;
    }
    .about__me__introduction{
        width: 100%;
        padding:10px;
        justify-content: space-between;
        line-height: 1.5;
    }
    .information_about_me{
        display: flex;
        flex-direction: column;
    }
    .information_about_me>div>img{
        width: 100%;
        height: 100%;
    }
    .book>img{
        height: 45vh;
        width:45vh;
    }
    
}
@media(prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()){
      .book>img {
        animation: fade-in ease;
        animation-timeline: scroll();
      }
    }
  }