/* contact section */
.contact__section{
    display: flex;
    align-items: center;
    gap:50px;
    justify-content: center;
}
.contact__section__text{
    font-size: large;
    font-weight: 500;
    kerning: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.contact_me_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    width: 80%;
}
.contact_me_form>label{
    font-weight: 700;
    margin-top: 6px;
}
.contact_me_form>*{
    background-color: #000;
    border-radius: 7px;
}
.contact_me_form>input,
.contact_me_form>textarea,
.contact_me_form>select,
.contact_me_form>button{
    padding: 10px !important;
    border: 1px solid rgb(219, 211, 211,0.2) !important;
    color: rgb(255,255,255) !important;
    outline:none;
    width: 100%;
}
.contact_me_form>input:focus,
.contact_me_form>textarea:focus,
.contact_me_form>select:focus{
    outline: 1px solid white;
}
.contact_me_form>button{
    cursor:pointer;
    padding:10px !important;
    background-color: rgb(255,255,255);
    color: #000 !important;
    font-size: large;
    font-weight: 600;
    margin-top: 10px;
    transition: all 0.15ms ease-in;
}
.contact_me_form>button:active{
    background-color: rgb(255,255,255,0.7);
}
.contact_me_form>button:hover{
    background-color: rgb(255,255,255,0.9);
}

/* select content */
.select__contents{
    display: flex !important;
    flex-direction: column !important;
    cursor: pointer;
    gap:2px;
}

.select__contents>h3{
    font-size: large;
    font-weight: 600;
}
