/* flip text animation */
#container {
    color:#999;
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    padding:20px;
    width:60%;
    display:block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#flip {
    height:50px;
    overflow:hidden;
}

#flip > div > div {
    color:#fff;
    padding:2px 15px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background:#42c58a;
}
#flip div:first-child div {
    background:#4ec7f3;
}
#flip div:last-child div {
    background:#DC143C;
}
@media  screen and (max-width:768px) {
    #container{
        width:70%;
    }
}

@keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}
/* my name animation */
@keyframes tracking-in-expand {0% { letter-spacing: -0.5em; opacity: 0; } 40% { opacity: 0.6; } 100% { opacity: 1;} }


.my_name{
    background-image: linear-gradient(to left,rgb(170, 64, 3),rgb(12, 133, 240));
    font-size: larger;
    font-weight: bolder;
    padding:5px;
    border-radius: 5px;
}
.my_name{ 
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) .5s 1 normal both;

}

/* vim animation */
@keyframes text-flicker-out-glow {
    0% { opacity: 1;
        text-shadow: 0 0 30px rgb(243, 208, 10), 0 0 60px rgba(5, 127, 241), 0 0 110px rgba(5, 127, 241), 0 0 100px rgba(255, 255, 255, 0.1);
    } 13.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(5, 127, 241), 0 0 60px rgba(5, 127, 241), 0 0 110px rgba(5, 127, 241), 0 0 100px rgba(5, 127, 241); 
    } 14% {
        opacity: 0; text-shadow: none;
    } 14.9% {
        opacity: 0; text-shadow: none; 
    } 15% {
        opacity: 1; text-shadow: 0 0 30px rgba(243, 208, 10, 0.55), 0 0 60px rgba(243, 208, 10, 0.4), 0 0 110px rgba(243, 208, 10, 0.2), 0 0 100px rgba(243, 208, 10, 0.1);
    } 22.9% {
        opacity: 1; text-shadow: 0 0 30px rgba(243, 208, 10, 0.55), 0 0 60px rgba(243, 208, 10, 0.4), 0 0 110px rgba(243, 208, 10, 0.2), 0 0 100px rgba(243, 208, 10, 0.1);
    } 23% {
        opacity: 0; text-shadow: none;
    }24.9% {
        opacity: 0; text-shadow: none;
    }25% {
        opacity: 1; text-shadow: 0 0 30px rgba(243, 208, 10, 0.55), 0 0 60px rgba(243, 208, 10, 0.35), 0 0 100px rgba(243, 208, 10, 0.1);
    } 34.9% {
        opacity: 1; text-shadow: 0 0 30px rgba(243, 208, 10, 0.55), 0 0 60px rgba(243, 208, 10, 0.35), 0 0 100px rgba(243, 208, 10, 0.1);
    } 35% {
        opacity: 0; text-shadow: none;
    }39.9%{
        opacity: 0; text-shadow: none;
    } 40%{
        opacity: 1; text-shadow: 0 0 30px rgba(243, 208, 10, 0.55), 0 0 60px rgba(243, 208, 10, 0.35);
    }42.9%{
        opacity: 1; text-shadow: 0 0 30px rgba(243, 208, 10, 0.55), 0 0 60px rgba(243, 208, 10, 0.35);
    }43%{
        opacity: 0; text-shadow: none;
    }44.9%{
        opacity: 0; text-shadow: none;
    } 45% {
        opacity: 1; text-shadow: 0 0 30px rgba(243, 208, 10, 0.45), 0 0 60px rgba(243, 208, 10, 0.25);
    } 50% {
        opacity: 1; text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    } 54.9% { opacity: 1; text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); } 55% { opacity: 0; text-shadow: none; } 69.4% { opacity: 0; text-shadow: none; } 69.5% { opacity: 1; text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); } 69.9% { opacity: 1; text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); } 70% { opacity: 0; text-shadow: none; } 79.4% { opacity: 0; text-shadow: none; } 79.9% { opacity: 1; text-shadow: 0 0 30px rgba(255, 255, 255, 0.25); } 80% { opacity: 0; text-shadow: none; } 89.8% { opacity: 0; text-shadow: none; } 89.9% { opacity: 1; text-shadow: none; } 90% { opacity: 0; text-shadow: none; } 100% { opacity: 1;} }


.vim { 

    animation: text-flicker-out-glow 2.5s linear 0s 1 normal both; 

}