.project__container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 80%;
    margin:20px auto;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
}
.project__container>div{
    width: 50%;
    display: flex;
    gap:4px;
    padding: 10px;
    flex-direction: column;
    border:1px solid rgb(255,255,255,0.3)
}

#github__button{
    margin-top: 10px;
    padding:5px;
    cursor:pointer;
    font-weight: bold;
    color:black !important;
    width: fit-content;
}
.project__container>div>h1{
    margin-bottom: 10px;
}
.project__description{
    line-height: 1.5;
}
