/* make width for the whole app to be 80% */
:root{
    width: 80%;
    margin: 0 auto; 
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

}
/* reset the css */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

header{
    width: 80%;
    margin: 0 auto;
    position:fixed;
    top: 0;
    padding-top: 10px;
    backdrop-filter: blur(100px);
    opacity: 1;
    background-color: #000;
    z-index: 9999;
    border-bottom: 1px solid rgb(219, 211, 211,0.2);
    box-shadow: 0 0 0 10px rgb(0,0,0);
}

header>nav{
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.profile__container>img{
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
    width: 70px;
}
.navigation_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:15px
}
/* remove text decoration for all links */

a{
    text-decoration: none;
    color: rgb(255,255,255,0.7);
}


.navigation_links>a:hover,
.contact_button>a:hover,
.introduction__section__buttons>button
{
    cursor: pointer;
    color: rgb(255,255,255);
}
.bottom__navigation>a{
    color: #ffff !important;
}
.contact_button,
.introduction__section__buttons>button{
    padding: 10px;
    outline:none;
    border:1px solid gray;
    border-radius:5px;
    background: #000;
}
.bottom__navigation{
    position:fixed;
    top:91vh;
    scroll-snap-type: mandatory;
    z-index: 999;
    opacity: 1 !important;
    color: rgb(255,255,255) !important;
    border-radius: 30px;
    width: 100%;
    padding:20px;
    align-items: center;
    background-color: #000 !important;
    border: 1px solid rgb(219, 211, 211,0.2);
}
.bottom__navigation>*{
    color: rgb(255,255,255) !important;
}
.navigation_links_container{
    display:flex;
    flex-direction:column;
    align-items: center;
}
#main__page{
    color: #ffff;
    margin-top: 150px;
    scroll-behavior: smooth;
}
.introduction__section{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 18px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-left: 1px solid rgb(219, 211, 211,0.2);
    border-right: 1px solid rgb(219, 211, 211,0.2);
}
.introduction__section__about__me{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    line-height: 1.5;
    font-size: medium;
    font-weight: 600;
    margin: 10px 0 20px 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
}
.introduction__section__about__me>p{
    color: rgb(219, 211, 211);
    width: 90%;
    line-height: 1.5;
}
.introduction__section__about__me>h1{
    text-align: center;
}
.introduction__section__image{
    border: 1px dashed goldenrod;
    width: fit-content;
}
.introduction__section__image>img{
    height: 90px;
    width: 90px;
    padding: 10px;
    object-fit: cover;
    z-index: -1;
}

.introduction__section__buttons{
    display: flex;
    gap:10px;
    justify-content: space-between;
}
.introduction__section__buttons>button{
    font-weight: bold;
}

#get_in_touch_button{
    border: none;
    background-color:rgb(255,255,255) !important;
    color: #000 !important;
}
#get_in_touch_button>a{
    color: #000 !important;
}
/* currently */
.currently__section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    border: 1px solid rgb(219, 211, 211,0.2);
    padding:10px;
    border-radius: 10px;
}
.currently__section__text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.currently__section__project__description{
    margin-top: 40px;
    font-size: 16px;
}
.currently__section__text>p{
    width: 80%;
    margin-top: 20px;
}
.currently__section__image{
    width: 50%;
}
.currently__section__image>img{
    width: 100%;
    object-fit:fill;
}
/* contribution activity */
.contribution_section{
    margin-top: 30px;
    width:100%;
}
.contribution_activity{
    display: flex;
    justify-items: center;
    align-items: center;
    margin:20px auto;
    width:60%;
}
/* contribution section */
.github-contribution{
    width: 90%;
    margin-top: 70px;
    align-items: center;
    display: flex;
    flex-direction:column;
    border:1px solid rgb(219, 211, 211,0.2);
    gap:20px;
    padding: 10px;
}
.github-calendar>img{
    width: 100%;
    
}

/* newsletter */
.newsletter{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:10px;
    border:1px solid rgb(219, 211, 211,0.2);
    width:80%;
    margin: 50px auto;
}
.newsletter>*{
    padding: 10px;
}
.newsletter__register{
    width: 60%;
    display:flex;
}
.newsletter__register>form{
    padding: 10px;
    width: 80%;
}
.newsletter__register>form>*{
    padding: 10px;
    border-radius: 10px;
    border:1px solid gray;
}
.newsletter__register>form>button{
    font-size: medium;
    font-weight: 500;
    background-color:rgb(0,0,0);
    color:rgb(255,255,255);
    cursor:pointer;
    margin-left: 6px;
}
.newsletter__register>form>button:hover{
    color:rgb(255,255,255,0.5);
}
.newsletter__register>form>input[type="text"]{
    background-color:#000;
    color:rgb(255,255,255);
    width: 60%;
}

input[type="text"]:focus{
    outline: none;
}
.newsletter__readers{
    display:flex;
    align-items: center;
    margin-top:30px;
    margin-left: 25px;
}
.newsletter__readers>div{
    padding:10px;
    margin-left: -25px;
}
.newsletter__readers>*{
    display: flex;
    align-items: center;
    border-radius:50%;
    height: 60px;
    object-fit:cover;
    margin-left: -25px;
    background-color: #000;
    border:1px solid gray;
}
.readers>h2,.newsletter__readers{
    color: white;
}
#project__container{
    flex-direction: column;
    width:100%;
}
/* footer section */
footer{
    color:white;
    display:flex;
    justify-content:space-between ;
    margin-top:60px;
    margin-bottom: 10%;
    flex-direction: column;
}
.footer__content>h4{
    color:white !important; 
}
.footer__content{
    display:flex;
    justify-content:space-between ;
    margin-bottom: 20px;
}
.footer_navigation{
    display: flex;
    gap:10px;
    flex-direction:column;
    margin-top: 25px;
}
.date{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px auto;

}

/* responsiveness */

@media screen and (max-width:678px){
    /* main page */
    .main__page{
        display: flex;
        flex-direction: column;
        height: 98vh;
        overflow: scroll;
        scrollbar-width: thin;
    }
    .introduction__section__about__me{
        flex-direction: column;
        width: 100%;
    }
    
    .introduction__section__buttons{
        display: flex;
        gap:10px;
        margin: 15px 15px;
        justify-content: space-between;
    }
    /* currently section */
    .currently__section{
        flex-direction: column;
        width:98%;
        
    }
    .currently__section>*{
        width: 98%;
    }

    .currently__section__project__description{
        width: 98%;
        margin-bottom: 30px;
    }
    .contribution_section,
    .contribution_activity,
    .contribution_activity>img,
    /* github calendar */
    .github-contribution,
    .main__page,
    .introduction__section,
    :root,header,
    .currently__section__text,
    .currently__section__text>p
    {
        width: 98%;
    }
    .github-calendar>img,
    .contribution_activity>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .introduction__section{
        border:1px solid rgb(219, 211, 211,0.2) ;
        margin:10px;
        width: 98%;
        padding-top: 10px;
        border-radius: 10px;
    }

    /* 1. newsletter */
    .newsletter{
        width:100%;
        display: flex;
        flex-direction: column;
    }
    .newsletter__readers{
        width: 100%;
    }
    .newsletter__register,
    .newsletter__register>form{
        width: 100%;
    }
    
}

@media screen and (max-width: 730px) {
    .desktop__navigation,.contact_button{
        display: none;
    }
}

@media screen and (min-width: 730px) {
    .bottom__navigation{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .github-contribution{
        width: 100%;
    }
    .github-calendar>img{
        width: 100%;
        height: 100%;
    }
}

/* animations */

  /* section animations */
@keyframes scale-in-center {
    0% { transform: scale(0); opacity: 1; } 
    100% { transform: scale(1); opacity: 1;} 
}


section { 
    animation: scale-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s 1 normal both; 

}

